:root {
    --color-black: #292B2E;
    --color-blue-bright: #005AE1;
    --color-blue-dark: #003E94;
    --color-blue-light: #E6EDF4;
    --color-grey-dark: #595D64;
    --color-grey-light: #f7f8f8;
    --color-grey-medium: #DCDEE0;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body, table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
}

body {
    background: var(--color-white);
    color: var(--color-grey-dark);
}

table {
    border-collapse: collapse;
    color: var(--color-black);
    text-align: left;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    margin: 0 auto;
    max-width: 122rem;
    padding:  2rem;
}

.content__title {
    align-items: center;
    color: var(--color-black);
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 3rem;
}

.content__title::before {
    content: "";
    background: url("../images/cms_logo.svg") left center no-repeat;
    border-right: 0.1rem solid var(--color-grey-medium);
    display: inline-block;
    height: 3.2rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    width: 3.2rem;
}

.content__text {
    margin: 1rem 0;
}

.content__text a {
    color: var(--color-blue-bright);
    text-decoration: underline;
}

.content__text a:hover {
    color: var(--color-blue-dark);
    text-decoration: none;
}

.table-wrapper {
    border-top: 0.1rem solid var(--color-grey-medium);
    margin: 3rem 0 5rem;
    overflow-x: auto;
}

.table__cell {
    padding: 1rem;
}

.table__cell--w-10 {
    width: 10%;
}

.table__cell--w-15 {
    width: 15%;
}

.table__cell--w-65 {
    width: 65%;
}

.table__cell--w-85 {
    width: 85%;
}

.table tbody tr:nth-child(odd) td {
    background-color: var(--color-grey-light);
}

.table tbody tr:hover td {
    background-color: var(--color-blue-light);
}

.table a:hover {
    text-decoration: underline;
}

.image-table__cell {
    padding: 1rem 1rem 0 0;
}

.image-table__cell--image {
    width: 6rem;
}

.image-table__cell--text {
    width: calc(100% - 6rem);
}

.image-table__image {
    height: 4rem;
    object-fit: cover;
    width: 6rem;
}

.image-table__title {
    display: block;
}
